<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Harry Hoc IT</title>
</head>

<body>
    <h1> Hello! Harry is learing to become a web developer</h1>
    <h2> I will try my best</h2>
    <p>
        <%= data %>
    </p>
</body>

</html>